[Unit]
Description=LanguageTool

[Service]
WorkingDirectory=%h/trunk/emacs/languagetool/LanguageTool/
ExecStart=/usr/bin/java -cp languagetool-server.jar org.languagetool.server.HTTPServer --port 8082
Type=simple
Restart=on-failure
RestartSec=10

[Install]
WantedBy=default.target
